@import "globals";
@import "variables";
body {
  background-color: lightgoldenrodyellow;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  * {
    border: 0.1px dashed gray;
  }
}
.hamburger {
  display: inline-flex;
  flex-direction: column;
  gap: 3px;
  span {
    display: inline-block;
    width: 24px;
    background-color: black;
    height: 3px;
  }
}
